<header
  id="description"
  class="bg-primary"
  style="background-image: none; height: 50vw"
>
  <div class="header-content container">
    <div class="header-content-inner row">
      <h1>
        <span class="bright">Reliably</span><br />
        do your tasks
      </h1>
      <hr />
      <h3>
        We help SaaS Founders with hundreds of types of tasks. <br />
        We’ll help you in a <span>high quality and reliable way</span> <br />
        with all the most common tasks SaaS Founders need
      </h3>
    </div>
  </div>
</header>
