<header
  id="description"
  class="bg-primary"
  style="background-image: none; height: 50vw"
>
  <div class="header-content container">
    <div class="header-content-inner row">
      <h1>
        It's just <br />
        <span class="bright">way too much!</span>
      </h1>
      <hr />
      <h3 class="">
        Like many SaaS Founders, you might have too many people <br />
        <span class="bright">asking you to do too many things</span>.
        <br />There might not be enough hours in the day <br />no matter what
        you do. <br />And it might be especially hard when<br />
        something unexpected comes up <br />which throws your entire day off
      </h3>
    </div>
  </div>
</header>
<header
  id="description_contd"
  class="bg-primary"
  style="background-image: none; height: 50vw"
>
  <div class="header-content container">
    <div class="header-content-inner row">
      <h1>Too much and <br /><span class="bright">always more!</span></h1>
      <hr />
      <h3 class="">
        <span class="bright">Tasks might be piling on right now.</span><br />
        Tasks don’t disappear at the end of the day.<br />
        More and more always keep coming.
      </h3>
    </div>
    <div style="padding: 10%">
      {% include free_task_button.html %}
    </div>
  </div>
</header>
