<section id="extended-reviews">
  <div class="container bg-white">
    <div class="row" style="height: 50vw">
      <div class="col-md-6">
        <img
          src="img/founders/cartesia_founder.png"
          alt="Cartesia Founder's Image"
          height="500px"
          width="auto"
        />
      </div>
      <div class="col-md-6">
        <<img
          class="float-right"
          src="img/founders/cartesia_logo.png"
          alt="Cartesia Logo"
          height="auto"
          width="50%"
        />
        <p class="lead" style="padding-top: 5%">
          I have way too much to do as Founder/CEO. And <br />
          <b>like most CEOs I can barely keep up</b>
          <br />
          <br />

          Being able to offload tasks easily. <br />
          Knowing they’ll always get done the right way. <br />
          Knowing they’ll always get done quickly<br />

          <br />
          <br />
          That has changed everything for me.
          <br />
          <br />
          <i>Ray Guardia</i><br />Founder/CEO of Cartesia
        </p>
      </div>
    </div>

    <div class="row" style="height: 40vw">
      <div class="col-md-6">
        <<img
          class="float-left"
          src="img/founders/unique_logo.png"
          alt="Cartesia Logo"
          height="auto"
          width="50%"
        />
        <p class="lead" style="padding-top: 5%">
          I use HNDL many times per day as Founder/CRO. <br /><br />
          Before HNDL, there weren’t enough hours in my day <br />
          to do my most important work. <br /><br />
          Now I can get more involved with supporting our sales managers,
          <br />with training new reps and with helping <br />with our largest
          and most strategic deals.

          <br /><br />
          <i>Jack Hays</i>, Founder/CRO of Unique
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="img/founders/unique_founder.png"
          alt="Cartesia Founder's Image"
          height="500px"
          width="auto"
        />
      </div>
    </div>
    <div class="row text-center">
      <a href="#" class="btn btn-success btn-xxl">get a task for free!</a>
      <h4>$29 of value with no credit card required</h4>
    </div>
  </div>
</section>
