<header
  id="description"
  class="bg-primary"
  style="background-image: none; height: 50vw"
>
  <div class="header-content text-center">
    <div class="header-content-inner">
      <h1>
        <span class="bright"> High quality work </span> <br />
        gets done.
      </h1>
      <hr />
      <h3>
        High quality and reliable because <br />
        we combine cutting edge AI with human experts
      </h3>
    </div>
  </div>
</header>
<div class="grid bg-primary">
  <div class="row" style="padding: 5%">
    <div class="col-md-3 col-md-offset-3">
      <h3>Easily forward, assign or mention</h3>
      <h4>
        Easily forward your emails, assign to-dos in Gong or mention us in Slack
      </h4>
      <a href="#" class="btn btn-default btn-xl">See how easy</a>
    </div>
    <div class="col-md-3 bg-dark">
      <img src="" alt="" height="300px" width="300px" />
    </div>
  </div>

  <div class="row" style="padding: 5%">
    <div class="col-md-3 col-md-offset-3 bg-dark">
      <img src="" alt="" height="300px" width="300px" />
    </div>
    <div class="col-md-3">
      <h3>Quality work gets done by AI</h3>
      <h4>
        Our cutting edge AI does the work for you in a high quality way that
        takes all the context into account
      </h4>
      <a href="#" class="btn btn-default btn-xl">See the quality</a>
    </div>
  </div>
  <div class="row" style="padding: 5%">
    <div class="col-md-3 col-md-offset-3">
      <h3>Human experts ensure quality</h3>
      <h4>
        Humans who are experts in the specific task finish the work to ensure
        quality and reliability See how reliable
      </h4>
      <a href="#" class="btn btn-default btn-xl">See how reliable</a>
    </div>
    <div class="col-md-3 bg-dark">
      <img src="" alt="" height="300px" width="300px" />
    </div>
  </div>
  <div class="row text-center" style="padding: 5%">
    {% include free_task_button.html %}
  </div>
</div>
