<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/1.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Custom decks or presentations
              </div>
              <br />
              <div class="project-name">
                We make high quality, high context and custom decks. Or we
                create custom pitch presentations for meetings. 
                <br /> <br />
                Learn more
                &rarr;
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/2.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Create or redline legal docs
              </div>
              <br />
              <div class="project-name">
                Our specialized legal AI can create or redlines agreements and
                other legal docs in a high quality way. 
                <br /> <br />
                Learn more &rarr;
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/3.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Assemble data</div>
              <br />
              <div class="project-name">
                Sometimes you need to know what’s going on in your business and
                you just can’t get the data. We’ll collect all the data so you
                get a complete and up-to-date picture. 
                <br /> <br />
                Learn more &rarr;
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/4.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Make sure work actually gets done
              </div>
              <br />
              <div class="project-name">
                We can reliably keep track of commitments and action items your
                colleagues are supposed to do. Then we can check and follow up
                to make sure the work gets done. 
                <br /> <br />
                Learn more &rarr;
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/5.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Prepare important meetings
              </div>
              <br />
              <div class="project-name">
                We can reliably gather the docs you need for meetings. This can
                include bringing together and summarizing docs you already have.
                And contacting stakeholders to ask them for docs. 
                <br /> <br />
                Learn more
                &rarr;
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/6.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                All other founder tasks
              </div>
              <br />
              <div class="project-name">
                We help SaaS Founders with hundreds of types of tasks. We’ll
                help you in a high quality and reliable way with all the most
                common tasks SaaS Founders need. 
                <br /> <br />
                Learn more &rarr;
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="text-center bg-primary" style="height: 10%">
        {% include free_task_button.html %}
      </div>
    </div>
  </div>
</section>
