<header class="bg-primary" style="height: 70vw; background-image: none">
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Award winning security</h1>
      <hr />
      <h3>
        Our enterprise-ready security & compliance won <br />
        <span class="bright">
          the Cyber Defense Award for Secure AI and for Anti-Phishing</span
        >.
      </h3>
      <div style="padding: 5%">
        <<img
          src="img/security_video_thumbnail.png"
          alt="Video Placeholder"
          width="750"
          height="auto"
        />
      </div>
      <br />
      <a href="#about" class="btn btn-default btn-xl page-scroll"
        >Learn about security & compliance</a
      >
    </div>
  </div>
</header>
